includeConfig "$baseDir/conf/aws_batch.config"

manifest {
  name = 'Mapping pipeline for perfect alignment only'
  author = 'Xiandong Meng'
  homePage = 'https://github.com/FischbachLab/nf-nano-ninjamap'
  description = 'Mapping pipeline for short and long reads'
  //mainScript = 'main.nf'
  version = '1.0.0'
  defaultBranch = 'main'
}

process {
  maxRetries = 3
  executor = 'awsbatch'
  queue = "default-maf-pipelines"
  cleanup = true
  //container = ''
  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
  cache = false
}

aws {
  region = "us-west-2"
}

//aws.batch.cliPath = '/home/ec2-user/miniconda3/bin/aws'

params{
  /*
 * Defines the pipeline inputs parameters (giving a default value for each for them)
 * Each of the following parameters can be specified as command line options
 */
 /* 	Initialization
  --------------------------------*/
  ref = ""
  reads1 = ""
  reads2 = ""
  long_reads = ""
  output_path = "s3://genomics-workflow-core/Pipeline_Results/mitiprojects/"
  //"s3://genomics-workflow-core/Pipeline_Results/mitiprojects/${params.output_prefix}"
  sampleRate = 70
  container = 'fischbachlab/nf-miti-projects:latest'
  container_plotsr = 'quay.io/biocontainers/plotsr:1.1.0--pyh7cba7a3_0'
  container_fasqtp = 'quay.io/biocontainers/fastp:0.23.2--hadf994f_5'
}
// fischbachlab/nf-miti-projects:20230511130642

docker {
    enabled = true
}

profiles {
  //awsbatch { includeConfig 'conf/awsbatch.config' }
  //conda { process.conda = "$baseDir/environment.yml" }
  debug { process.beforeScript = 'echo $HOSTNAME' }
  docker { docker.enabled = true }
  //singularity { singularity.enabled = true }
  //test { includeConfig 'conf/test.config' }
}


timeline {
  enabled = false
  overwrite = true
  file = "$params.output_path/execution_reports/timeline.html"
}

report {
  enabled = false
  overwrite = true
  file = "$params.output_path/execution_reports/report.html"
}

dag {
    enabled = false
    overwrite = true
    file = "$params.output_path/execution_reports/pipeline_dag.html"
}
